body{
    background-color: rgb(38, 34, 63);
    color: white;
    margin: 5px;
    padding: 2px;
    font-family: Arial, Helvetica, sans-serif;
}

header,
footer{
    text-align: center;
    background-color: rgb(209, 201, 205);
}
p {
    text-align: justify;
    text-indent: 8ch;
}

p::first-letter {
    font-size: 120%;
    color: blueviolet;
    text-decoration-line: underline;
}

h2,
h3,
h4 {
    color: crimson;
    text-decoration-line: underline;
}
h1 {
    background: rgb(90, 84, 127);
    color: white;
    text-decoration-line: underline;
}